# API Keys, Tokens and Secrets
*token*
*.env
*.env.*
*.pem
*.key
*.crt
*.pfx
*.p12

# Local tests and debug
**/*test*
**/test-*.yaml
**/test-*.yml
**/test-oidc.yaml
**/*.tfplan



# Terraform State and Variables
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Kubernetes manifests and logs
*.log
kubeconfig
kubeconfig.yaml
*kubeconfig*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node, Python & Caches
node_modules/
.npm/
.yarn/
dist/
build/
.cache/
.ipynb_checkpoints/
__pycache__/
*.pyc

# Local IDEs
.idea/
.vscode/
*.swp
*.swo
