# OCI Configuration
# Terraform will read OCI credentials from ~/.oci/config automatically
# Only specify compartment and cluster settings here

compartment_id = "ocid1.compartment.oc1..YOUR_COMPARTMENT_OCID"
region         = "eu-paris-1"

kubernetes_version = "v1.31.1"
node_pool_size     = 3
admin_source_cidr  = "82.123.45.67/32" # Remplace par ton IP publique (ajoute /32 à la fin)
